<nlog xmlns="https://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
      >

  <targets>

    <!-- if a console is available: log to a colored console window -->
    <!-- just replace all Console.WriteLine() with Log.Debug() or Log.Info() or Log.Error(). -->
    <target name="console" xsi:type="ColoredConsole"
        layout="${longdate}|${threadid}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring:when=not equals('${message}','${exception:format=tostring}')}"
        detectConsoleAvailable="true"
      />

    <!-- in addition, write to a rolling log file. each day is logged to a separate log file. files older than 30 days are deleted. -->
    <!-- logs are placed in a /logs subdirectory of your application.  -->
    <target name="file" xsi:type="File"
        layout="${longdate}|${threadid}|${level:uppercase=true}|${logger}|${message}${newline} ${exception:format=tostring:when=not equals('${message}','${exception:format=tostring}')}"
        fileName="${basedir}/logs/log.log"
        archiveFileName="${basedir}/logs/log.{#}.log"
        archiveNumbering="Date"
        archiveEvery="Day"
        archiveDateFormat="yyyy-MM-dd"
        maxArchiveFiles="30"
      />

  </targets>

  <rules>

    <!-- 
    Too much log output? You can change minLevel to "Info", and only allow "Debug" log for specific classes, like this: 
    -->
    <!-- 
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="My.Namespace.With.Interesting.Class" minlevel="Debug" writeTo="file" />
    -->

    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Debug" writeTo="console" />


  </rules>
</nlog>